// Bootstrap overrides
//
// Color system
$white:                     #fff !default;
$gray-100:                  #f8f9fa !default;
$gray-200:                  #e9ecef !default;
$gray-300:                  #dee2e6 !default;
$gray-400:                  #ced4da !default;
$gray-500:                  #adb5bd !default;
$gray-600:                  #6c757d !default;
$gray-700:                  #495057 !default;
$gray-800:                  #343a40 !default;
$gray-900:                  #212529 !default;
$black:                     #000 !default;

$blue:                      #007bff !default;
$indigo:                    #6610f2 !default;
$purple:                    #6f42c1 !default;
$pink:                      #e83e8c !default;
$red:                       #dc3545 !default;
$orange:                    #fd7e14 !default;
$yellow:                    #ffc107 !default;
$green:                     #28a745 !default;
$teal:                      #20c997 !default;
$cyan:                      #17a2b8 !default;
$alice-blue:                #F3F8FF !default;
$light-steel-blue:          #AEC2DB !default;
$east-bay:                  #506075 !default;
$bermuda-grey:              #7489A5 !default;
$portage:                   #93A2DA !default;
$caribbean-green:           #00D7AF !default;
$pale-turquoise:            #B2F2E6 !default;
$regent-blue:               #93BEDA !default;

$darken-percentage:           3%;

$alice-blue-dark:             darken($alice-blue, $darken-percentage) !default;
$light-steel-blue-dark:       darken($light-steel-blue, $darken-percentage) !default;
$east-bay-dark:               darken($east-bay, $darken-percentage) !default;
$bermuda-grey-dark:           darken($bermuda-grey, $darken-percentage) !default;
$portage-dark:                darken($portage, $darken-percentage) !default;
$caribbean-green-dark:        darken($caribbean-green, $darken-percentage) !default;
$pale-turquoise-dark:         darken($pale-turquoise, $darken-percentage) !default;
$regent-blue-dark:            darken($regent-blue, $darken-percentage) !default;

$colors: (
  "blue":                     $blue,
  "indigo":                   $indigo,
  "purple":                   $purple,
  "pink":                     $pink,
  "red":                      $red,
  "orange":                   $orange,
  "yellow":                   $yellow,
  "green":                    $green,
  "teal":                     $teal,
  "cyan":                     $cyan,
  "white":                    $white,
  "gray":                     $gray-600,
  "gray-dark":                $gray-800
) !default;

$theme-colors: (
  "white":                    $white
) !default;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
) !default;

$primary:                     $caribbean-green !default;
$secondary:                   $gray-600 !default;

$theme-colors: (
    "purple":                 $portage,
) !default;

$link-color:                  $caribbean-green !default;

// Transition
$transition-base:             all .2s ease-in-out !default;
$transition-fade:             opacity .15s linear !default;
$transition-collapse:         height .35s ease !default;

// Grid columns
$grid-columns:                12 !default;
$grid-gutter-width:           30px !default;

// Options
$enable-transitions:          true;
$enable-rounded:              true;

// Body
$body-bg:                     $alice-blue;
$body-color:                  $bermuda-grey;
$title-color:                 $east-bay;
$sub-title-color:             $east-bay;
$sub-header-color:            $bermuda-grey;
$caption-color:               $light-steel-blue;

// Paragraphs
$paragraph-margin-bottom:     0.625rem !default;

// Components
$border-width:                1px !default;
$border-color:                $gray-300 !default;

$border-radius:               1.25rem !default;
$border-radius-lg:            3.75rem !default;
$border-radius-sm:            1.25rem !default;
$border-radius-xs:            0.50rem !default;

$input-padding-y:             1.5rem !default;
$input-padding-x:             1.25rem !default;
$input-border-width:          0.125rem !default;
$input-bg:                    $alice-blue !default;
$input-placeholder-color:     $light-steel-blue !default;
$input-border-color:          $alice-blue !default;
$input-focus-border-color:    $portage !default;
$input-height-border:         0.125rem !default;
$input-height-inner:          3.625rem !default;
$input-focus-box-shadow:      none !default;

// custom input
$custom-control-gutter:                         2.1875rem !default;
$custom-control-spacer-x:                       1rem !default;
$custom-control-indicator-size:                 1.5rem !default;
$custom-control-indicator-bg:                   $white !default;
$custom-control-label-disabled-color:           $light-steel-blue !default;
$custom-control-indicator-checked-disabled-bg:  rgba($light-steel-blue, 1) !default;

$custom-checkbox-indicator-border-radius:       0.500rem !default;

// button
$btn-width:                                     12.94rem !default;
$btn-padding-y:                                 1.063rem !default;
$btn-padding-x:                                 2rem !default;
$btn-border-radius-lg:                          $border-radius-sm !default;

// Fonts
$font-family-opensans:                          'Open Sans', sans-serif, monospace;
$font-family-kiona:                             'Kiona', "Arial", monospace;
$font-family-base:                              $font-family-opensans !default;

$font-size-base:                                0.9375rem !default; // Assumes the browser default, typically `16px`

$h1-font-size:                                  $font-size-base * 2.4 !default;
$h2-font-size:                                  $font-size-base * 1.9 !default;
$h3-font-size:                                  $font-size-base * 1.65 !default;
$h4-font-size:                                  $font-size-base * 1.4 !default;
$h5-font-size:                                  $font-size-base * 1.15 !default;
$h6-font-size:                                  $font-size-base !default;

$headings-font-family:                          $font-family-kiona !default;
$headings-font-weight:                          600 !default;
$headings-color:                                $title-color !default;

//Popover
$popover-border-radius:                         0 !default;

// Modal
$modal-edge-padding:                            3.125rem !default;
$modal-inner-padding:                           1rem $modal-edge-padding !default;

$modal-content-border-width:                    0 !default;
$modal-content-border-radius:                   $border-radius + 1.25 !default;
$modal-content-box-shadow-sm-up:                0 2.5rem 6.25rem 0 rgba($black, 0.3) !default;

$modal-backdrop-bg:                             $portage !default;
$modal-backdrop-opacity:                        .8 !default;
$modal-header-padding:                          $modal-edge-padding $modal-edge-padding 1rem !default;

$modal-md:                                      612px !default;

// Tooltip
$tooltip-border-radius:                         $border-radius-xs !default;
$tooltip-opacity:                               .8 !default;

// Pagination
$pagination-focus-box-shadow:                   none !default;

// Alert
$alert-border-radius:                           1rem !default;
$alert-bg-level:                                -6 !default;
$alert-color-level:                             9 !default;

// Z-index master list
$zindex-dropdown:                               1000 !default;
$zindex-sticky:                                 1020 !default;
$zindex-fixed:                                  1030 !default;
$zindex-modal-backdrop:                         1040 !default;
$zindex-modal:                                  1050 !default;
$zindex-popover:                                1060 !default;
$zindex-tooltip:                                1070 !default;
$zindex-loading:                                1080 !default;

// Notify
$notify-box-shadow:                             0 1rem 3.25rem 0 rgba($black, 0.2) !default;
