{
  "dev": {
    "PPN_SYMBOL": "TPAL",
    "PPN_GATEWAY_IP": "https://testnet.pal.network",
    "PPN_EXPLORER_IP": "https://explorer.pal.network",
    "TX_TIMEOUT": 60
  },
  "prod": {
    "PPN_SYMBOL": "TPAL",
    "PPN_GATEWAY_IP": "https://testnet.pal.network",
    "PPN_EXPLORER_IP": "https://explorer.pal.network",
    "TX_TIMEOUT": 60
  }
}