@import '~styles/variables';

.transactionList {
  height: 250px;
  overflow: auto;
}

.noTransaction {
  background-color: $white;
  padding: ($grid-gutter-width / 2);
  text-align: center;
  height: 250px;

  // .noTransaction__firstLine
  &__firstLine {
    font-weight: bold;
    color: $title-color;
    text-transform: uppercase;
    margin-bottom: 0;
  }

  // .noTransaction__secondLine
  &__secondLine {
    color: $caption-color;
    font-size: smaller;
    margin-bottom: 0;
  }
}

.loading {
  background-color: $white;
  padding: ($grid-gutter-width / 2);
  text-align: center;
  height: 250px;

  // .noTransaction__firstLine
  &__firstLine {
    font-weight: bold;
    color: $title-color;
    text-transform: uppercase;
    margin-bottom: 0;
  }
}
