@import '~styles/variables';

.details {
  padding: ($grid-gutter-width / 2);

  @media screen and (max-width: map-get($grid-breakpoints,'sm')) {
    padding: 0;
  }

  h1 {
    word-break: break-word;
  }
}

.export {
  position: absolute;
  right: 0;
  top: 0;

  button:nth-of-type(1) {
    margin-right: 5px;
  }

  @media screen and (max-width: map-get($grid-breakpoints,'md')) {
    position: relative;
  }
}

.walletAddress {
  &:hover {
    cursor: pointer;
    color: $primary;
    text-decoration-line: underline;
  }
}